* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('login2.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

.buyer {
    background-color: #4CAF50; /* Green */
}

.seller {
    background-color: #008CBA; /* Blue */
}

.buyer:hover {
    background-color: #45a049; /* Darker green */
}

.seller:hover {
    background-color: #007B9E; /* Darker blue */
}